/* App.css */
.boxi,.drop,.appli {
  background-image: url("/Section.png");
  background-size: cover;
  background-position: center;
}

.homei{
  background-image: url("/Section2.png");
  background-size: cover;
  background-position: center;
}

.choose,.contact{
   background-image: url("/Section\ copy.png");
  background-size: cover ;
  background-position:center;
}
